.movieName {
  font-size: 32px;
  padding: 20px;
  color: var(--light-choko);
  background-color: var(--black);
  margin: 0;
}

.movieVote {
  text-align: right;
  padding-right: 18px;
}

.star {
  color: var(--blue);
}
