:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--blue);
  background-color: var(--choko);

  --choko: #1a110c;
  --light-choko: #a3948c;
  --blue: rgba(68, 236, 255, 0.903);
  --darck-blue: rgb(0, 131, 145);
  --darck-blue-opas: rgba(0, 131, 145, 0.505);
  --black: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--light-choko);
  text-decoration: inherit;
  transition: all 150ms ease-in-out;
}
a:hover,
a:focus {
  text-shadow: 1px 1px var(--darck-blue);
  scale: 1.1;

  /* color: var(--darck-blue); */
}

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--light-choko);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}
